.item{
   
   width: 50%;
}
.item svg {
  width: 100%;
}
.container {
  
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 40px;
}

  

.green-square {
  transition: .6s;
}
.lever{
  color: red
}
.espreso {
  transition: .5s;
  cursor: pointer;
}
.late {
  transition: .5s;
  cursor: pointer;
}